@using NeoSchool.Services
@model NeoSchool.Models.MaterialViewModel
@inject IMaterialService service
@{
    ViewData["Title"] = "ViewAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ViewAll</h1>

@foreach (var material in service.GetAllMaterials())
{
    <div>
        <h4>VideoLessonViewModel</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Id)
                @material.Id
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Id)
                @material.Id
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
                @material.Name
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
                @material.Name
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
                @material.Description
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
                @material.Description
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Rating)
                @material.Rating
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Rating)
                @material.Rating
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ForTeachers)
                @material.ForTeachers
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ForTeachers)
                @material.ForTeachers
            </dd>
        </dl>
    </div>
}

<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>